[project]
	description = a test for hello world project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hervemhervem
[access "refs/for/refs/*"]
	read = group user/hervemhervem
	push = group user/hervemhervem
	label-Code-Review = -2..+2 group user/hervemhervem
	label-Verified = -1..+1 group user/hervemhervem
	rebase = group user/hervemhervem
	removeReviewer = group user/hervemhervem
	submit = group user/hervemhervem
[access "refs/heads/*"]
	read = group user/hervemhervem
	create = group user/hervemhervem
	push = +force group user/hervemhervem
	pushMerge = group user/hervemhervem
[access "refs/tags/*"]
	push = group user/hervemhervem
	push = +force group user/hervemhervem
